<div class="printHide">
    <nav class="w3-sidenav w3-large w3-light-grey w3-left-align w3-hide-medium w3-hide-small" style="">
        <div class="w3-container w3-dark-grey">
            <h4 class="w3-dark-grey">Menu</h4>
        </div>
        <!-- sideNav -->
        <!-- <a class="w3-padding w3-hover-black" href="/">Home</a>		 -->
        
        <!-- <div class="w3-accordion w3-light-grey">
            <button onclick="showAccordian('SensorsNav','MenuAccordian', 'sensorsTop')" class="w3-btn-block w3-left-align w3-hover-black w3-light-grey">
                Sensors <i id="arrowSensorsNav" class="fa fa-angle-right sensorsTop" aria-hidden="true"></i>
            </button>	
            <div id="SensorsNav" class="w3-accordion-content w3-container MenuAccordian">
                <div class="w3-accordion w3-light-grey">
                    <button onclick="showAccordian('SensorsDashboardNav','MenuAccordianSensors', 'sensorsSecond')" class="w3-btn-block w3-left-align w3-hover-black w3-light-grey">
                        Dashboard <i id="arrowSensorsDashboardNav" class="fa fa-angle-right sensorsSecond" aria-hidden="true"></i>
                    </button>	
                    <div id="SensorsDashboardNav" class="w3-accordion-content w3-container MenuAccordianSensors">
                        <a class="w3-padding w3-hover-black" href="/tutorials/sensors/dashboard/arduino/">Arduino</a>		
                        <a class="w3-padding w3-hover-black" href="/tutorials/sensors/dashboard/gyro/">Gyro</a>		
                    </div>
                </div>
                <div class="w3-accordion w3-light-grey">
                    <button onclick="showAccordian('SensorsRoboRIONav','MenuAccordianSensors', 'sensorsSecond')" class="w3-btn-block w3-left-align w3-hover-black w3-light-grey">
                        roboRIO <i id="arrowSensorsRoboRIONav" class="fa fa-angle-right sensorsSecond" aria-hidden="true"></i>
                    </button>	
                    <div id="SensorsRoboRIONav" class="w3-accordion-content w3-container MenuAccordianSensors">
                        <a class="w3-padding w3-hover-black" href="/tutorials/sensors/roborio/limit-switch/">Limi Switch</a>		
                        <a class="w3-padding w3-hover-black" href="/tutorials/sensors/roborio/potentiometer/">Potentiometer</a>		
                    </div>
                </div>
            </div>
        </div> -->


        <a class="w3-padding w3-hover-black" href="/contact_us/">Contact Us</a>
        {% include search.html %}
    </nav>
    
    <div id="mobileMenuContainer" class="sticky-div">
        <div style="height: 0px;" class="filler"></div>
        <div id="mobileMenu" class="w3-hide w3-hide-large">
            <ul class="w3-bar-block w3-left-align w3-large w3-light-grey w3-animate-top" style="margin-top: 0px; max-height: 100vh; overflow: scroll;">
                <li><a class="w3-padding w3-hover-black" href="/">Home</a></li>
                <li><a class="w3-padding w3-hover-black" href="/archive/">Archive</a></li>	

                <li><a class="w3-padding w3-hover-black" href="/contact_us/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="height: 0px;" class="filler"></div>
